<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comandas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button expand="block" class="button-home" (click)="goToHome()">Voltar</ion-button>
    <ion-button expand="block" (click)="goToNewOrder()" class="button-home">Abrir Comanda</ion-button>
    @for (order of orders; track order.COMANDA) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>Comanda: {{order.COMANDA}}</ion-card-title>
          <ion-card-subtitle>Mesa: {{order.MESA}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    }
  </div>
</ion-content>
