<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Criar Comanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button expand="block" class="button-home" (click)="goToHome()">Voltar</ion-button>
    <ion-input label="Comanda" label-placement="floating" fill="outline" placeholder="Comanda"></ion-input>
    <ion-input label="Mesa" label-placement="floating" fill="outline" placeholder="Mesa"></ion-input>
    <ion-button expand="block" class="button-create" color="success">Criar</ion-button>
  </div>
</ion-content>
